<h3>Agile France 2016 c'est en Juin, et (toujours) au Chalet de la Porte Jaune</h3>
<p>Agile France est une conférence organisée par les agilistes français. Elle offre un espace de respiration et d'oxygénation de nos pratiques, dans l'ambition de faire progresser la communauté francophone sans être élitiste.
<ul>
<li>On y parle de méthodes agiles, mais pas seulement.</li> 
<li>On y parle de dynamique des groupes, d'intelligence collective et de facilitation, mais pas seulement. On y parle de motivation, d'émotions et de bien-être au travail, mais pas seulement. </li>
<li>On y parle de développement, de technique, d'artisanat logiciel, mais pas seulement </li>
<li>On y parle de produit, d'expérience utilisateur et d'innovation, mais pas seulement </li>
<li>On y parle de design d'organisations, de gouvernance et de management, mais pas seulement.</li>
<li>On y parle de soi, de ses expériences, de ses échecs, de ses idées. </li>
</ul>
Et on n’y fait pas de business.</p>
<p>
    Ça vous inspire ? Vous avez envie de partager une découverte, de lancer une discussion, de provoquer une réflexion ? N'attendez pas la proposition parfaite et <a href="http://call4paper-agileconf.herokuapp.com/sessions/new">proposez un sujet</a>.
</p>
<p>
    Les autres participants vous aideront à affiner et améliorer votre sujet grâce à un <a href="#perfectionGame">perfection game</a>.
    <br>
    <br>
    De même, nous vous invitons à aider les autres orateurs à développer leurs propositions selon votre appréciation et les <a href="#whatIsAGoodSession">critères d’une bonne session</a>.
</p>
<p>
    Ainsi, nous arriverons à un ensemble de propositions de sessions de qualité, de manière communautaire et transparente.
</p>
<h2>Sélection des sessions</h2>
<p>
    <strong>Nous ferons une première sélection (environ 1/3 du programme) mi Janvier</strong> (mais vous pourrez continuer à déposer et à améliorer vos session bien après).
    <br>
    Voici les critères que nous appliquerons :
    <ul>
        <li><strong>Pertinence du sujet pour faire avancer la communauté agile</strong></li>
        <li>Diversité des orateurs : expérience, régions, pays et cultures.</li>
        <li>Diversité des sessions : expertes sur l'agile et ouverture vers d'autres sujets connexes.</li>
        <li>Diversité des sujets : méthode, technique, management, accompagnement, etc.</li>
        <li>Équilibre entre retours d'expérience, outils et techniques, idées innovantes voire provocatrices</li>
        <li>Deux sessions par orateur maximum.</li>
    </ul>
</p>

<h2 id="whatIsAGoodSession">Critères de revue des propositions de session</h2>
<p>
    Nous voulons créer un programme attractif avec des sessions de grande qualité. Gardez à l'esprit les critères de revue suivants et souvenez-vous que le meilleur moyen d'avoir une session de grande qualité est de la jouer et de l'améliorer à partir de retours réels.
    <ul>
        <li>Qui sera intéressé par cette session ?</li>
        <li>Iriez-vous à cette session ?</li>
        <li>La description est-elle claire et engageante ? Attirera-t-elle le public qu’elle vise ?</li>
        <li>Quelles connaissances préalables sont attendues des participants ? Est-ce lisible ?</li>
        <li>Quelle valeur cette session apporte-t-elle aux participants et aux organisateurs ?</li>
        <li>En quoi ce sujet est-il pertinent à Agile France ?</li>
        <li>Fait-il avancer la communauté agile francophone ?</li>
        <li>Est-il utile et/ou intéressant, même pour des praticiens agiles expérimentés ?</li>
        <li>En quoi cette session est-elle innovante ou inhabituelle (par son sujet ou son format) ?</li>
        <li>Cette session parle-t-elle aussi de pourquoi les choses marchent (ou ne marchent pas) pas seulement de “quoi” et de “comment” ?</li>
        <li>Quel est le but de cette session ? Est-il lisible ?</li>
        <li>Quels en sont les résultats ou livrables attendus ? Peuvent-ils être communiqués aux personnes qui n'ont pas assisté à la session ?</li>
        <li>Cette session est-elle structurée de manière à atteindre ces objectifs ?</li>
        <li>Le programme est-il réaliste en regard de la durée de la session ? Avez-vous pris en compte une petite marge ?</li>
        <li>En quoi le format de cette session facilite-t-il l'apprentissage ?</li>
    </ul>
</p>

<h2 id="perfectionGame">Perfection Game</h2>

<p>
    Le Perfection Game est une manière de donner des retours constructifs. Cette technique a été développée par Jim & Michele McCarthy dans le cadre de leurs Core Protocols.
    <br>
    <br>
    Quelqu'un présente son travail (ici, sa proposition de session) et demande du feedback. Vous notez le travail sur une échelle de 1 à 10, en fonction de la valeur que vous pouvez apporter :
    <br>
    je vais par exemple donner un 9 sur 10 si je vois de petites améliorations possibles, un 5 sur 10 si j'ai des suggestions qui rendraient la session deux fois plus utile/intéressante, et 1 sur 10 si je peux multiplier la valeur de la proposition par 10 avec mes suggestions d'amélioration.
    <br>
    Expliquez ce que vous avez aimé : qu'est-ce qui justifie la note ? Qu'est-ce qui devrait être conservé ?
    <br>
    Expliquez ce que vous feriez pour rendre la proposition parfaite : quelles actions concrètes devraient être entreprises pour porter la note à un 10 sur 10 ?
</p>

<h2>Donner des retours</h2>
<p>
    <ul>
        <li>Réfléchissez bien lorsque vous expliquez comment rendre le travail parfait. Il est parfois tentant de faire des remarques négatives, mais essayez de les reconstruire de façon positive.</li>
        <li>Expliquez votre raisonnement, par exemple sous la forme "Je ferais … parce que cela permettrait de …".</li>
        <li>Ne lésinez pas sur la section "ce que j'ai aimé" : les bons côtés doivent être conservés et renforcés.</li>
        <li>Assurez-vous que votre note reflète bien la valeur que vous pensez apporter (pas votre intérêt personnel pour le sujet).</li>
        <li>Suivez le sujet et mettez à jour votre feedback lorsque la proposition de session est corrigée. L'itération mène à la perfection  :-)</li>
    </ul>
</p>

<h2>Recevoir des retours</h2>
<p>
    <ul>
        <li>Remerciez la personne qui a pris le temps de vous donner du feedback.</li>
        <li>Ne discutez pas le feedback donné mais posez des questions pour clarifier ce que l'on vous dit et bien comprendre comment améliorer votre présentation du sujet.</li>
        <li>Vous êtes responsable de la qualité de votre travail, <strong>c'est vous qui décidez si vous souhaitez tenir compte du feedback</strong> que vous recevez.</li>
    </ul>
</p>
